@import "https://unpkg.com/normalize.css@8.0.0/normalize.css";
body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
  color: #333;
}
* {
  box-sizing: border-box;
}
.loader {
  animation: slideLine 2s;
  position: fixed;
  background-color: #000;
  top: 0;
  left: 0;
  z-index: 1003;
  height: 5px;
}
.editor {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #f1f1f1;
}
.editor.shy textarea {
  color: rgba(51,51,51,0.01);
  text-shadow: 0 0 16px #000;
}
.editor .action-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 15px;
  width: 100%;
  background-color: rgba(236,236,236,0.7);
  border-top: 1px solid #c2c2c2;
  display: flex;
  justify-content: space-between;
}
.editor .action-bar button {
  color: #5c5c5c;
  font-family: Monaco, monospace;
  text-transform: uppercase;
  font-size: 0.8em;
  border: 1px solid #c2c2c2;
  background-color: #f1f1f1;
  padding: 10px 15px;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.editor .action-bar button.icon i.fas {
  margin-right: 0.4em;
}
.editor .action-bar button:hover {
  background-color: #fff;
  color: #0f0f0f;
}
.editor .action-bar button:focus {
  outline: none;
  outline-color: transparent;
  outline-style: none;
}
.editor .action-bar .btn-group button:not(:first-child) {
  border-left: none;
  border-radius: 0;
}
.editor .action-bar .btn-group button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.editor .action-bar .btn-group button:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.editor textarea {
  width: 100%;
  height: 100%;
  font-size: 1.5em;
  line-height: 1.38em;
  letter-spacing: -0.01em;
  font-family: Times;
  color: #333;
  padding: 30px 20%;
  padding-bottom: 100px;
  width: 100%;
  outline: none;
  border: none;
  background-color: #f1f1f1;
  transition: text-shadow 0.2s ease;
}
@media only screen and (max-device-width: 480px) {
  .editor textarea {
    padding: 30px;
  }
}
@-moz-keyframes slideLine {
  0% {
    width: 0%;
  }
  30% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes slideLine {
  0% {
    width: 0%;
  }
  30% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}
@-o-keyframes slideLine {
  0% {
    width: 0%;
  }
  30% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}
@keyframes slideLine {
  0% {
    width: 0%;
  }
  30% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}
