@import "https://unpkg.com/normalize.css@8.0.0/normalize.css";
body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  color: #333;
}
* {
  box-sizing: border-box;
}
.loader {
  animation: slideLine 2s;
  position: fixed;
  background-color: #000;
  top: 0;
  left: 0;
  z-index: 1003;
  height: 4px;
}
.journal-box-app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}
.editor {
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
}
.editor.shy .textarea {
  color: rgba(51,51,51,0.01);
  text-shadow: 0 0 16px #808080;
}
.editor .textarea {
  white-space: pre-wrap;
  width: 100%;
  height: 100%;
  font-size: 1.5em;
  line-height: 1.38em;
  letter-spacing: -0.01em;
  font-family: Times;
  color: #333;
  padding: 30px 20%;
  padding-top: 80px !important;
  width: 100%;
  outline: none;
  border: none;
  background-color: #f1f1f1;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.action-bar {
  position: fixed;
  left: 0;
  top: 0;
  padding: 7.5px;
  width: 100%;
  background-color: rgba(241,241,241,0.7);
  display: flex;
  justify-content: space-between;
}
.action-bar button {
  color: #5c5c5c;
  font-family: Monaco, monospace;
  text-transform: uppercase;
  font-size: 0.8em;
  border: 1px solid #c2c2c2;
  background-color: #f1f1f1;
  padding: 7.5px 15px;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.action-bar button:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}
.action-bar button.icon i.fas {
  margin-right: 0.4em;
}
.action-bar button:hover {
  background-color: #fff;
  color: #0f0f0f;
}
.action-bar button:focus {
  outline: none;
  outline-color: transparent;
  outline-style: none;
}
.action-bar .btn-group button:not(:first-child) {
  border-left: none;
  border-radius: 0;
}
.action-bar .btn-group button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.action-bar .btn-group button:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
@media only screen and (max-device-width: 480px) {
  .editor .textarea {
    padding: 30px;
  }
}
@-moz-keyframes slideLine {
  0% {
    width: 0%;
  }
  30% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes slideLine {
  0% {
    width: 0%;
  }
  30% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}
@-o-keyframes slideLine {
  0% {
    width: 0%;
  }
  30% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}
@keyframes slideLine {
  0% {
    width: 0%;
  }
  30% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}
